//-  Photo Mapper for viewing, tagging, and filtering photos on a map 
//-  Copyright (C) 2016  Roman Klapaukh
//-
//-  This program is free software: you can redistribute it and/or modify
//-  it under the terms of the GNU General Public License as published by
//-  the Free Software Foundation, either version 3 of the License, or
//-  (at your option) any later version.
//-
//-  This program is distributed in the hope that it will be useful,
//-  but WITHOUT ANY WARRANTY; without even the implied warranty of
//-  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//-  GNU General Public License for more details.
//-
//-  You should have received a copy of the GNU General Public License
//-  along with this program.  If not, see <http://www.gnu.org/licenses/>.

extends layout

append styles
  link(rel="stylesheet",href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css")
  link(rel="stylesheet",href="/stylesheets/navbar-fixed-side.css")
  link(rel="stylesheet",href="/stylesheets/style.css")
  link(rel="stylesheet",href="/stylesheets/LeafletStyleSheet.css")
  


block body
  .container-fluid
    .row
      .col-sm-3.col-lg-2
        nav.navbar.navbar-default.navbar-fixed-side
          .container-fluid
            .navbar-header
              button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#filters" aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href="/") Filters
            .collapse.navbar-collapse(id="filters")
              ul.nav.navbar-nav#tag-list
                li 
                  button.btn(onclick="resetFilters()") Clear All
      .col-sm-9.col-lg-10    
        h1 Photo mapping
        #mapid

append scripts
  script(src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js")
  script(src="/javascripts/PruneCluster.js").
  script(src="/javascripts/map.js").

